/* all reset csss ----------------------------------------------------------------------------*/
@font-face {
  font-family: iransans;
  src: url("../font/iransans/eot/IRANSans-Light-web.eot");
  src: url("../font/iransans/eot/IRANSans-Light-web.eot?#iefix") format("embedded-opentype"), url("../font/iransans/woff2/IRANSans-Light-web.woff2") format("woff2"), url("../font/iransans/woff/IRANSans-Light-web.woff") format("woff"), url("../font/iransans/ttf/IRANSans-Light-web.ttf") format("truetype");
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@media (min-width: 576px) {
  html {
    font-size: 9px;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 9px;
  }
}

@media (min-width: 992px) {
  html {
    font-size: 9.5px;
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 10px;
  }
}

@media (max-width: 575px) {
  html {
    font-size: 9px;
  }
}

body {
  font-family: iransans, Tahoma, Arial, Helvetica, sans-serif;
  direction: rtl;
  text-align: right;
  background-color: #f3f7fa;
}

@media (max-width: 576px) {
  body {
    padding: 0 1rem;
  }
}

img {
  display: block;
  max-width: 100%;
}

video {
  display: block;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

p::-moz-selection,
h1::-moz-selection,
h2::-moz-selection,
h3::-moz-selection,
h4::-moz-selection,
h5::-moz-selection,
h6::-moz-selection,
a::-moz-selection,
span::-moz-selection {
  color: white;
  background-color: #7ed957;
}

p::selection,
h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection,
a::selection,
span::selection {
  color: white;
  background-color: #7ed957;
}

table {
  font-size: 1.3rem;
}

.btn {
  font-size: 1.4rem;
}

input[type="text"] {
  padding: 2rem 1rem;
  font-size: 1.3rem;
}

@font-face {
  font-family: 'icomoon';
  src: url("~/../../icon/icomoon.eot?i30ifi");
  src: url("~/../../icon/icomoon.eot?i30ifi#iefix") format("embedded-opentype"), url("~/../../icon/icomoon.ttf?i30ifi") format("truetype"), url("~/../../icon/icomoon.woff?i30ifi") format("woff"), url("~/../../icon/icomoon.svg?i30ifi#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-activity:before {
  content: "\e900";
}

.icon-airplay:before {
  content: "\e901";
}

.icon-alert-circle:before {
  content: "\e902";
}

.icon-alert-octagon:before {
  content: "\e903";
}

.icon-alert-triangle:before {
  content: "\e904";
}

.icon-align-center:before {
  content: "\e905";
}

.icon-align-justify:before {
  content: "\e906";
}

.icon-align-left:before {
  content: "\e907";
}

.icon-align-right:before {
  content: "\e908";
}

.icon-anchor:before {
  content: "\e909";
}

.icon-aperture:before {
  content: "\e90a";
}

.icon-archive:before {
  content: "\e90b";
}

.icon-arrow-down-circle:before {
  content: "\e90c";
}

.icon-arrow-down-left:before {
  content: "\e90d";
}

.icon-arrow-down-right:before {
  content: "\e90e";
}

.icon-arrow-down:before {
  content: "\e90f";
}

.icon-arrow-left-circle:before {
  content: "\e910";
}

.icon-arrow-left:before {
  content: "\e911";
}

.icon-arrow-right-circle:before {
  content: "\e912";
}

.icon-arrow-right:before {
  content: "\e913";
}

.icon-arrow-up-circle:before {
  content: "\e914";
}

.icon-arrow-up-left:before {
  content: "\e915";
}

.icon-arrow-up-right:before {
  content: "\e916";
}

.icon-arrow-up:before {
  content: "\e917";
}

.icon-at-sign:before {
  content: "\e918";
}

.icon-award:before {
  content: "\e919";
}

.icon-bar-chart-2:before {
  content: "\e91a";
}

.icon-bar-chart:before {
  content: "\e91b";
}

.icon-battery-charging:before {
  content: "\e91c";
}

.icon-battery:before {
  content: "\e91d";
}

.icon-bell-off:before {
  content: "\e91e";
}

.icon-bell:before {
  content: "\e91f";
}

.icon-bluetooth:before {
  content: "\e920";
}

.icon-bold:before {
  content: "\e921";
}

.icon-book-open:before {
  content: "\e922";
}

.icon-book:before {
  content: "\e923";
}

.icon-bookmark:before {
  content: "\e924";
}

.icon-box:before {
  content: "\e925";
}

.icon-briefcase:before {
  content: "\e926";
}

.icon-calendar:before {
  content: "\e927";
}

.icon-camera-off:before {
  content: "\e928";
}

.icon-camera:before {
  content: "\e929";
}

.icon-cast:before {
  content: "\e92a";
}

.icon-check-circle:before {
  content: "\e92b";
}

.icon-check-square:before {
  content: "\e92c";
}

.icon-check:before {
  content: "\e92d";
}

.icon-chevron-down:before {
  content: "\e92e";
}

.icon-chevron-left:before {
  content: "\e92f";
}

.icon-chevron-right:before {
  content: "\e930";
}

.icon-chevron-up:before {
  content: "\e931";
}

.icon-chevrons-down:before {
  content: "\e932";
}

.icon-chevrons-left:before {
  content: "\e933";
}

.icon-chevrons-right:before {
  content: "\e934";
}

.icon-chevrons-up:before {
  content: "\e935";
}

.icon-chrome:before {
  content: "\e936";
}

.icon-circle:before {
  content: "\e937";
}

.icon-clipboard:before {
  content: "\e938";
}

.icon-clock:before {
  content: "\e939";
}

.icon-cloud-drizzle:before {
  content: "\e93a";
}

.icon-cloud-lightning:before {
  content: "\e93b";
}

.icon-cloud-off:before {
  content: "\e93c";
}

.icon-cloud-rain:before {
  content: "\e93d";
}

.icon-cloud-snow:before {
  content: "\e93e";
}

.icon-cloud:before {
  content: "\e93f";
}

.icon-code:before {
  content: "\e940";
}

.icon-codepen:before {
  content: "\e941";
}

.icon-codesandbox:before {
  content: "\e942";
}

.icon-coffee:before {
  content: "\e943";
}

.icon-columns:before {
  content: "\e944";
}

.icon-command:before {
  content: "\e945";
}

.icon-compass:before {
  content: "\e946";
}

.icon-copy:before {
  content: "\e947";
}

.icon-corner-down-left:before {
  content: "\e948";
}

.icon-corner-down-right:before {
  content: "\e949";
}

.icon-corner-left-down:before {
  content: "\e94a";
}

.icon-corner-left-up:before {
  content: "\e94b";
}

.icon-corner-right-down:before {
  content: "\e94c";
}

.icon-corner-right-up:before {
  content: "\e94d";
}

.icon-corner-up-left:before {
  content: "\e94e";
}

.icon-corner-up-right:before {
  content: "\e94f";
}

.icon-cpu:before {
  content: "\e950";
}

.icon-credit-card:before {
  content: "\e951";
}

.icon-crop:before {
  content: "\e952";
}

.icon-crosshair:before {
  content: "\e953";
}

.icon-database:before {
  content: "\e954";
}

.icon-delete:before {
  content: "\e955";
}

.icon-disc:before {
  content: "\e956";
}

.icon-dollar-sign:before {
  content: "\e957";
}

.icon-download-cloud:before {
  content: "\e958";
}

.icon-download:before {
  content: "\e959";
}

.icon-droplet:before {
  content: "\e95a";
}

.icon-edit-2:before {
  content: "\e95b";
}

.icon-edit-3:before {
  content: "\e95c";
}

.icon-edit:before {
  content: "\e95d";
}

.icon-external-link:before {
  content: "\e95e";
}

.icon-eye-off:before {
  content: "\e95f";
}

.icon-eye:before {
  content: "\e960";
}

.icon-facebook:before {
  content: "\e961";
}

.icon-fast-forward:before {
  content: "\e962";
}

.icon-feather:before {
  content: "\e963";
}

.icon-figma:before {
  content: "\e964";
}

.icon-file-minus:before {
  content: "\e965";
}

.icon-file-plus:before {
  content: "\e966";
}

.icon-file-text:before {
  content: "\e967";
}

.icon-file:before {
  content: "\e968";
}

.icon-film:before {
  content: "\e969";
}

.icon-filter:before {
  content: "\e96a";
}

.icon-flag:before {
  content: "\e96b";
}

.icon-folder-minus:before {
  content: "\e96c";
}

.icon-folder-plus:before {
  content: "\e96d";
}

.icon-folder:before {
  content: "\e96e";
}

.icon-framer:before {
  content: "\e96f";
}

.icon-frown:before {
  content: "\e970";
}

.icon-gift:before {
  content: "\e971";
}

.icon-git-branch:before {
  content: "\e972";
}

.icon-git-commit:before {
  content: "\e973";
}

.icon-git-merge:before {
  content: "\e974";
}

.icon-git-pull-request:before {
  content: "\e975";
}

.icon-github:before {
  content: "\e976";
}

.icon-gitlab:before {
  content: "\e977";
}

.icon-globe:before {
  content: "\e978";
}

.icon-grid:before {
  content: "\e979";
}

.icon-hard-drive:before {
  content: "\e97a";
}

.icon-hash:before {
  content: "\e97b";
}

.icon-headphones:before {
  content: "\e97c";
}

.icon-heart:before {
  content: "\e97d";
}

.icon-help-circle:before {
  content: "\e97e";
}

.icon-hexagon:before {
  content: "\e97f";
}

.icon-home:before {
  content: "\e980";
}

.icon-image:before {
  content: "\e981";
}

.icon-inbox:before {
  content: "\e982";
}

.icon-info:before {
  content: "\e983";
}

.icon-instagram:before {
  content: "\e984";
}

.icon-italic:before {
  content: "\e985";
}

.icon-key:before {
  content: "\e986";
}

.icon-layers:before {
  content: "\e987";
}

.icon-layout:before {
  content: "\e988";
}

.icon-life-buoy:before {
  content: "\e989";
}

.icon-link-2:before {
  content: "\e98a";
}

.icon-link:before {
  content: "\e98b";
}

.icon-linkedin:before {
  content: "\e98c";
}

.icon-list:before {
  content: "\e98d";
}

.icon-loader:before {
  content: "\e98e";
}

.icon-lock:before {
  content: "\e98f";
}

.icon-log-in:before {
  content: "\e990";
}

.icon-log-out:before {
  content: "\e991";
}

.icon-mail:before {
  content: "\e992";
}

.icon-map-pin:before {
  content: "\e993";
}

.icon-map:before {
  content: "\e994";
}

.icon-maximize-2:before {
  content: "\e995";
}

.icon-maximize:before {
  content: "\e996";
}

.icon-meh:before {
  content: "\e997";
}

.icon-menu:before {
  content: "\e998";
}

.icon-message-circle:before {
  content: "\e999";
}

.icon-message-square:before {
  content: "\e99a";
}

.icon-mic-off:before {
  content: "\e99b";
}

.icon-mic:before {
  content: "\e99c";
}

.icon-minimize-2:before {
  content: "\e99d";
}

.icon-minimize:before {
  content: "\e99e";
}

.icon-minus-circle:before {
  content: "\e99f";
}

.icon-minus-square:before {
  content: "\e9a0";
}

.icon-minus:before {
  content: "\e9a1";
}

.icon-monitor:before {
  content: "\e9a2";
}

.icon-moon:before {
  content: "\e9a3";
}

.icon-more-horizontal:before {
  content: "\e9a4";
}

.icon-more-vertical:before {
  content: "\e9a5";
}

.icon-mouse-pointer:before {
  content: "\e9a6";
}

.icon-move:before {
  content: "\e9a7";
}

.icon-music:before {
  content: "\e9a8";
}

.icon-navigation-2:before {
  content: "\e9a9";
}

.icon-navigation:before {
  content: "\e9aa";
}

.icon-octagon:before {
  content: "\e9ab";
}

.icon-package:before {
  content: "\e9ac";
}

.icon-paperclip:before {
  content: "\e9ad";
}

.icon-pause-circle:before {
  content: "\e9ae";
}

.icon-pause:before {
  content: "\e9af";
}

.icon-pen-tool:before {
  content: "\e9b0";
}

.icon-percent:before {
  content: "\e9b1";
}

.icon-phone-call:before {
  content: "\e9b2";
}

.icon-phone-forwarded:before {
  content: "\e9b3";
}

.icon-phone-incoming:before {
  content: "\e9b4";
}

.icon-phone-missed:before {
  content: "\e9b5";
}

.icon-phone-off:before {
  content: "\e9b6";
}

.icon-phone-outgoing:before {
  content: "\e9b7";
}

.icon-phone:before {
  content: "\e9b8";
}

.icon-pie-chart:before {
  content: "\e9b9";
}

.icon-play-circle:before {
  content: "\e9ba";
}

.icon-play:before {
  content: "\e9bb";
}

.icon-plus-circle:before {
  content: "\e9bc";
}

.icon-plus-square:before {
  content: "\e9bd";
}

.icon-plus:before {
  content: "\e9be";
}

.icon-pocket:before {
  content: "\e9bf";
}

.icon-power:before {
  content: "\e9c0";
}

.icon-printer:before {
  content: "\e9c1";
}

.icon-radio:before {
  content: "\e9c2";
}

.icon-refresh-ccw:before {
  content: "\e9c3";
}

.icon-refresh-cw:before {
  content: "\e9c4";
}

.icon-repeat:before {
  content: "\e9c5";
}

.icon-rewind:before {
  content: "\e9c6";
}

.icon-rotate-ccw:before {
  content: "\e9c7";
}

.icon-rotate-cw:before {
  content: "\e9c8";
}

.icon-rss:before {
  content: "\e9c9";
}

.icon-save:before {
  content: "\e9ca";
}

.icon-scissors:before {
  content: "\e9cb";
}

.icon-search:before {
  content: "\e9cc";
}

.icon-send:before {
  content: "\e9cd";
}

.icon-server:before {
  content: "\e9ce";
}

.icon-settings:before {
  content: "\e9cf";
}

.icon-share-2:before {
  content: "\e9d0";
}

.icon-share:before {
  content: "\e9d1";
}

.icon-shield-off:before {
  content: "\e9d2";
}

.icon-shield:before {
  content: "\e9d3";
}

.icon-shopping-bag:before {
  content: "\e9d4";
}

.icon-shopping-cart:before {
  content: "\e9d5";
}

.icon-shuffle:before {
  content: "\e9d6";
}

.icon-sidebar:before {
  content: "\e9d7";
}

.icon-skip-back:before {
  content: "\e9d8";
}

.icon-skip-forward:before {
  content: "\e9d9";
}

.icon-slack:before {
  content: "\e9da";
}

.icon-slash:before {
  content: "\e9db";
}

.icon-sliders:before {
  content: "\e9dc";
}

.icon-smartphone:before {
  content: "\e9dd";
}

.icon-smile:before {
  content: "\e9de";
}

.icon-speaker:before {
  content: "\e9df";
}

.icon-square:before {
  content: "\e9e0";
}

.icon-star:before {
  content: "\e9e1";
}

.icon-stop-circle:before {
  content: "\e9e2";
}

.icon-sun:before {
  content: "\e9e3";
}

.icon-sunrise:before {
  content: "\e9e4";
}

.icon-sunset:before {
  content: "\e9e5";
}

.icon-tablet:before {
  content: "\e9e6";
}

.icon-tag:before {
  content: "\e9e7";
}

.icon-target:before {
  content: "\e9e8";
}

.icon-terminal:before {
  content: "\e9e9";
}

.icon-thermometer:before {
  content: "\e9ea";
}

.icon-thumbs-down:before {
  content: "\e9eb";
}

.icon-thumbs-up:before {
  content: "\e9ec";
}

.icon-toggle-left:before {
  content: "\e9ed";
}

.icon-toggle-right:before {
  content: "\e9ee";
}

.icon-trash-2:before {
  content: "\e9ef";
}

.icon-trash:before {
  content: "\e9f0";
}

.icon-trello:before {
  content: "\e9f1";
}

.icon-trending-down:before {
  content: "\e9f2";
}

.icon-trending-up:before {
  content: "\e9f3";
}

.icon-triangle:before {
  content: "\e9f4";
}

.icon-truck:before {
  content: "\e9f5";
}

.icon-tv:before {
  content: "\e9f6";
}

.icon-twitter:before {
  content: "\e9f7";
}

.icon-type:before {
  content: "\e9f8";
}

.icon-umbrella:before {
  content: "\e9f9";
}

.icon-underline:before {
  content: "\e9fa";
}

.icon-unlock:before {
  content: "\e9fb";
}

.icon-upload-cloud:before {
  content: "\e9fc";
}

.icon-upload:before {
  content: "\e9fd";
}

.icon-user-check:before {
  content: "\e9fe";
}

.icon-user-minus:before {
  content: "\e9ff";
}

.icon-user-plus:before {
  content: "\ea00";
}

.icon-user-x:before {
  content: "\ea01";
}

.icon-user:before {
  content: "\ea02";
}

.icon-users:before {
  content: "\ea03";
}

.icon-video-off:before {
  content: "\ea04";
}

.icon-video:before {
  content: "\ea05";
}

.icon-voicemail:before {
  content: "\ea06";
}

.icon-volume-1:before {
  content: "\ea07";
}

.icon-volume-2:before {
  content: "\ea08";
}

.icon-volume-x:before {
  content: "\ea09";
}

.icon-volume:before {
  content: "\ea0a";
}

.icon-watch:before {
  content: "\ea0b";
}

.icon-wifi-off:before {
  content: "\ea0c";
}

.icon-wifi:before {
  content: "\ea0d";
}

.icon-wind:before {
  content: "\ea0e";
}

.icon-x-circle:before {
  content: "\ea0f";
}

.icon-x-octagon:before {
  content: "\ea10";
}

.icon-x-square:before {
  content: "\ea11";
}

.icon-x:before {
  content: "\ea12";
}

.icon-youtube:before {
  content: "\ea13";
}

.icon-zap-off:before {
  content: "\ea14";
}

.icon-zap:before {
  content: "\ea15";
}

.icon-zoom-in:before {
  content: "\ea16";
}

.icon-zoom-out:before {
  content: "\ea17";
}

.title {
  background-color: white;
  padding: 1.5rem;
  font-size: 2rem;
  -webkit-box-shadow: 0 0 1rem rgba(125, 125, 125, 0.4);
          box-shadow: 0 0 1rem rgba(125, 125, 125, 0.4);
  border-radius: 5px;
  color: #4a4a4a;
}

.title .breadcrumb {
  font-size: 1.1rem;
  margin-top: 1rem;
  background-color: white;
  padding-right: 0px;
}

.title .breadcrumb-item::before {
  content: "|";
  margin: 0 .5rem;
}

.title .breadcrumb-item:first-child::before {
  content: "";
}

@media (max-width: 991px) {
  .lb {
    padding-right: 0px;
    margin-top: 3rem;
  }
}

.lb__movie {
  background-color: gray;
}

.lb__movie video {
  width: 100%;
}

.lb__detail {
  background-color: white;
  -webkit-box-shadow: 0 0 1rem rgba(125, 125, 125, 0.4);
          box-shadow: 0 0 1rem rgba(125, 125, 125, 0.4);
  border-radius: 5px;
  min-height: 200px;
}

.lb__detail .btn__group {
  display: block;
  padding: 1rem 2rem;
}

.lb__detail .btn__group button {
  padding: 1rem 2rem;
  color: black;
  border: 1px solid rgba(125, 125, 125, 0.5);
  border-radius: 5rem !important;
  margin-left: 1rem;
}

.lb__detail .btn__group button:focus {
  background-color: #82b541;
  color: white;
  outline: none;
  border: none;
}

.lb__course {
  padding: 1rem 2rem;
  font-size: 1.3rem;
  line-height: 2.2;
}

.lb__course__title {
  padding: 1rem 0;
  border-bottom: 1px solid rgba(125, 125, 125, 0.2);
  margin-top: 1.5rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.lb__course p {
  margin-bottom: 0px;
}

.lb__course ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.lb__course li {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 45%;
          flex: 0 1 45%;
  padding: .5rem 2rem .5rem 0;
  border-radius: 3rem;
  margin-bottom: .5rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.lb__course li::before {
  display: block;
  position: absolute;
  right: 0px;
  color: #82b541;
  font-family: 'icomoon';
  font-size: 1.5rem;
}

.lb__course__btn {
  padding: 1rem 1.5rem;
  padding-right: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin-top: 1rem;
  border: 1px solid rgba(125, 125, 125, 0.2);
  background-color: rgba(125, 125, 125, 0.2);
}

.lb__course__btn:hover {
  background-color: rgba(125, 125, 125, 0.2);
}

.lb__course__btn::before {
  font-family: 'icomoon';
  font-size: 1.3rem;
  position: absolute;
  right: 1rem;
}

.lb__course__btn__info {
  font-size: 1.4rem;
}

.lb__course__btn__info:nth-child(2) {
  margin-left: auto;
  margin-right: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
  color: gray;
}

.lb__course__btn__info:nth-child(2)::before {
  content: '(';
}

.lb__course__btn__info:nth-child(2)::after {
  content: ')';
}

.lb button {
  font-size: 1.4rem;
}

@media (max-width: 991px) {
  .rb {
    padding-left: 0px;
  }
}

.shopping__page {
  padding-bottom: 6rem;
  background-image: linear-gradient(-140deg, transparent 85%, #ee0979 85%);
  position: relative;
}

@media (min-width: 673px) {
  .shopping__page::before {
    content: "";
    display: block;
    position: absolute;
    left: 10px;
    bottom: 20px;
    width: 400px;
    height: 400px;
    background-color: transparent;
    border: 100px solid rgba(74, 74, 74, 0.3);
    opacity: .2;
    border-radius: 50%;
  }
}

.panel {
  height: 400px;
  font-size: 1.3rem;
  margin-top: 3rem;
}

.panel__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 565px) {
  .panel__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.panel__item {
  background-color: rgba(0, 0, 0, 0.08);
  margin-left: 1.5rem;
  border-radius: 2rem;
  position: relative;
}

@media (max-width: 565px) {
  .panel__item {
    margin-bottom: 1rem;
  }
}

.panel__link:visited, .panel__link:link {
  display: inline-block;
  border-radius: 2rem;
  padding: 1rem 2rem;
  font-weight: bold;
  padding-right: 3.5rem;
  color: #4a4a4a;
  -webkit-transition: all .5s;
  transition: all .5s;
}

@media (max-width: 768px) {
  .panel__link:visited, .panel__link:link {
    padding: 1rem;
    text-align: center;
  }
}

@media (max-width: 565px) {
  .panel__link:visited, .panel__link:link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.panel__link:hover {
  color: white;
  background-color: #82b541;
  color: #fff;
}

.panel__link::before {
  display: block;
  font-size: 1.3rem;
  position: absolute;
  right: 1.3rem;
  font-family: 'icomoon';
  color: #4a4a4a;
  -webkit-transition: all .5s;
  transition: all .5s;
}

@media (max-width: 768px) {
  .panel__link::before {
    display: none;
  }
}

@media (max-width: 565px) {
  .panel__link::before {
    display: block;
    position: static;
    margin-left: 1rem;
  }
}

.panel__link:hover::before {
  color: #fff;
}

.panel__box {
  height: 300px;
}

.panel__box__holder {
  background-color: white;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 1rem rgba(125, 125, 125, 0.4);
          box-shadow: 0 0 1rem rgba(125, 125, 125, 0.4);
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 2rem 0;
}

@media (max-width: 565px) {
  .panel__box__holder {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.panel__title {
  font-size: 1.2rem;
  color: #7d7d7d;
  font-weight: bold;
  padding: 1rem 2rem .5rem 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.panel__title::before {
  font-family: 'icomoon';
  font-size: 1.5rem;
  position: absolute;
  right: 0rem;
  color: currentColor;
}

.panel__info {
  font-weight: bold;
  font-size: 1.2rem;
  color: #ee0979;
  margin-bottom: 2rem;
}

.panel__form__input {
  font-size: 1.4rem;
  padding: 2rem 1rem;
}

.panel .active {
  color: #fff;
  background-color: #82b541;
  color: #fff;
}

.panel .active:before {
  color: #fff;
}

.panel__table {
  font-size: 1.3rem;
}

.panel__table th,
.panel__table td {
  padding: 1rem;
}

/* showcase----------------------------------------------------*/
.showcase {
  background-color: rgba(0, 0, 0, 0.1);
  background-image: url(../img/bg.png);
  background-attachment: fixed;
  height: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
}

.showcase h2 {
  text-align: center;
  font-size: 3rem;
  padding: 2rem;
}

.showcase p {
  font-size: 2rem;
  text-align: center;
}

.showcase a,
.showcase button {
  font-size: 1.5rem;
  padding: 1rem 3rem;
}

.navigation {
  height: 70px;
  background-color: #f3f7fa;
  border-top: 3px solid #ee0979;
  position: relative;
  position: -webkit-sticky;
  position: sticky;
  z-index: 100;
  width: 100%;
}

.navigation .container {
  height: 100%;
}

.navigation__menu {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.navigation__item {
  font-size: 1.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 1rem;
  padding: 0 1rem;
  position: relative;
  -webkit-transition: background-color, .5s;
  transition: background-color, .5s;
  color: #283138;
  cursor: pointer;
}

.navigation__item:first-child {
  padding: 0px;
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
}

.navigation__item:hover:first-child {
  background-color: transparent;
}

.navigation__item:hover .navigation__sub {
  opacity: 1;
  visibility: visible;
  margin-top: -4px;
}

.navigation .icon-chevron-down::before {
  font-family: 'icomoon';
  margin-right: 5px;
  font-size: 1.4rem;
}

.navigation .has-megamenu {
  position: static !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.navigation__link:link, .navigation__link:visited {
  color: #283138;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation .register {
  margin-right: auto;
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px;
}

.navigation .register:hover {
  background-color: transparent;
}

.navigation .register .navigation__link {
  padding: 1rem 2rem;
  margin-right: 1rem;
  border-radius: 7px;
}

.navigation .profile {
  margin-right: auto;
  position: relative;
}

.navigation .profile__card {
  background-color: #82b541;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navigation .profile__card::after {
  content: attr(data-number);
  display: block;
  width: 30px;
  height: 30px;
  font-size: 1.3rem;
  font-weight: bold;
  border-radius: 50%;
  background-color: #ee0979;
  color: white;
  position: absolute;
  top: 50%;
  right: -15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation .profile__card::before {
  font-family: 'icomoon';
  font-size: 2rem;
  color: rgba(125, 125, 125, 0.4);
  color: white;
}

.navigation .profile__dashbord {
  background-color: #82b541;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 1rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: background-color, 0.3;
  transition: background-color, 0.3;
}

.navigation .profile__dashbord::before {
  font-family: 'icomoon';
  font-size: 2rem;
  color: rgba(125, 125, 125, 0.4);
  color: white;
}

.navigation .profile__dashbord:hover {
  background-color: #82b541;
}

.navigation .profile__dashbord:hover::before {
  color: white;
}

.navigation .profile__dashbord:hover::after {
  opacity: 1;
  visibility: visible;
}

.navigation .profile__dashbord:hover ~ .profile__mega {
  opacity: 1;
  visibility: visible;
  top: 56px;
}

.navigation .profile__card:hover ~ .profile__cart__box {
  opacity: 1;
  visibility: visible;
  top: 55px;
}

.navigation .profile__mega {
  background-color: white;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 1rem rgba(125, 125, 125, 0.4);
          box-shadow: 0 0 1rem rgba(125, 125, 125, 0.4);
  width: 230px;
  background-color: white;
  position: absolute;
  z-index: 10000;
  top: 58px;
  left: 0px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition-property: top, visibility, opacity;
  transition-property: top, visibility, opacity;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
}

.navigation .profile__mega:hover {
  visibility: visible;
  opacity: 1;
  top: 56px;
}

.navigation .profile__cart__box {
  background-color: white;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 1rem rgba(125, 125, 125, 0.4);
          box-shadow: 0 0 1rem rgba(125, 125, 125, 0.4);
  width: 200px;
  position: absolute;
  top: 58px;
  left: 50px;
  padding: 1rem 2rem;
  line-height: 2;
  text-align: center;
  font-size: 1.2rem;
  opacity: 0;
  visibility: hidden;
  -webkit-transition-property: top, opacity, visibility;
  transition-property: top, opacity, visibility;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
}

.navigation .profile__cart__box .badge {
  font-size: 1.3rem;
  padding: .5rem;
  background-color: #ee0979;
  color: white;
}

.navigation .profile__cart__box:hover {
  visibility: visible;
  opacity: 1;
  top: 55px;
}

.navigation .profile__list__item {
  color: #4a4a4a;
  padding-right: 5rem;
  border-bottom: 1px solid rgba(125, 125, 125, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation .profile__list__item:last-child {
  border-bottom: none;
}

.navigation .profile__list__item::before {
  font-family: 'icomoon';
  font-size: 2rem;
  color: rgba(125, 125, 125, 0.4);
  position: absolute;
  right: 2rem;
}

.navigation .profile__list__item:hover::before {
  color: #ee0979;
}

.navigation .profile__list__link {
  font-size: 1.2rem;
  padding: 1.5rem 0;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.navigation .profile__list__link:hover {
  color: #ee0979;
}

.navigation__sub {
  position: absolute;
  top: 70px;
  right: 0;
  z-index: 100;
  border-top: 2px solid #82b541;
  width: 100%;
  background-color: #f3f7fa;
  margin-top: 5px;
  opacity: 0;
  visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: margin-top .3s;
  transition: margin-top .3s;
}

@media (max-width: 768px) {
  .navigation__sub {
    display: none;
  }
}

.navigation__sub__item {
  color: #283138;
  padding: 1.5rem;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  position: relative;
}

.navigation__sub__item:hover {
  border-bottom-color: #82b541;
}

.navigation__sub__item:hover .navigation__sub__menu {
  margin-top: 0px;
  opacity: 1;
  visibility: visible;
}

.navigation__sub__link:link, .navigation__sub__link:visited {
  color: white;
}

.navigation__sub__menu {
  border-top: 2px solid #82b541;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  margin-top: 10px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: margin-top .3s;
  transition: margin-top .3s;
}

.navigation__sub__menu__item {
  color: #283138;
  padding: 1.5rem;
  cursor: pointer;
  background-color: #f3f7fa;
  border-bottom: 2px solid transparent;
  position: relative;
}

.navigation__sub__menu__link {
  color: #283138;
}

.navigation__sub__menu__link:hover {
  color: #283138;
}

/* card----------------------------------------------------*/
.card__parent {
  background-color: #fff;
  -webkit-box-shadow: 0 0 1rem rgba(125, 125, 125, 0.4);
          box-shadow: 0 0 1rem rgba(125, 125, 125, 0.4);
  padding: 2rem 1rem;
  border-radius: 5px;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.card--parent {
  padding: 0rem;
  margin: 0rem;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.card__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  padding: 0 1rem 1rem 1.5rem;
  border-bottom: 2px dotted rgba(74, 74, 74, 0.2);
  color: #4a4a4a;
}

.card__header img {
  width: 50px;
  margin-left: 1rem;
}

.card__header h2 {
  font-weight: bold;
  font-size: 1.5rem;
}

.card__header span {
  font-size: 1.5rem;
  padding-right: 1rem;
  font-weight: bold;
}

.card__header span::before {
  content: "[";
  margin-left: 5px;
}

.card__header span::after {
  content: "]";
  margin-right: 5px;
}

.card {
  position: relative;
  padding-bottom: 1rem;
  margin: 2rem 0;
  border-radius: 5px;
  -webkit-transition: all .5s;
  transition: all .5s;
  width: 100%;
}

.card:hover {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.card__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card__title {
  font-size: 1.3rem;
  line-height: 2;
  color: #4a4a4a;
  font-weight: bolder;
  padding-bottom: 1rem;
}

.card__text {
  line-height: 2;
  font-size: 1.2rem;
  text-align: justify;
  color: #7d7d7d;
}

.card-img-top {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.card__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 1rem 0;
  padding-bottom: 0px;
  border-top: 1px solid rgba(125, 125, 125, 0.1);
  width: 100%;
}

.card__footer img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-left: .5rem;
}

.card__footer span {
  font-size: 1.1rem;
  color: #7d7d7d;
  font-weight: bold;
}

.card__footer .price {
  color: #82b541;
  font-weight: bold;
  font-size: 1.3rem;
}

.card--footer {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  padding-top: 2.5rem;
  margin-top: 1rem;
}

.card--footer > * {
  margin: .5rem 0;
}

.card--footer > img {
  width: 40px;
  height: 40px;
  margin-bottom: 0px;
  position: absolute;
  top: -2.5rem;
}

.card .badge-danger::before {
  border: 11.5px solid var(--danger);
}

.card .badge-success::before {
  border: 11.5px solid var(--success);
}

.card .badge {
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding: .6rem 2rem;
  font-size: 1.1rem;
  position: absolute;
  top: 1rem;
  right: 0;
  border-radius: 0px;
}

.card .badge::before {
  content: "";
  display: block;
  position: absolute;
  height: 0px;
  width: 0px;
  position: absolute;
  top: 0;
  right: 100%;
  border-left: none;
  border-top-color: transparent;
  border-bottom-color: transparent;
}

/* carousel----------------------------------------------------*/
.discount {
  background-color: rgba(0, 0, 0, 0.1);
  color: #525c65;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  padding-left: 2rem;
  margin-top: 2rem;
}

@media (max-width: 767px) {
  .discount {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 2rem;
  }
}

.discount .img-holder {
  overflow: hidden;
}

@media (max-width: 767px) {
  .discount .img-holder {
    width: 100%;
    max-height: 200px;
    border-radius: .5rem;
  }
}

.discount img {
  height: 130px;
  margin-left: 2rem;
}

@media (max-width: 767px) {
  .discount img {
    width: 100%;
    height: auto;
    border-radius: .5rem;
  }
}

.discount h2 {
  font-size: 1.5rem;
  padding: 1rem 0;
}

.discount h2 a {
  color: var(--primary);
  line-height: 2;
}

.discount p {
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 2;
}

.discount a {
  margin-right: auto;
}

@media (max-width: 767px) {
  .discount a {
    margin-right: 0px;
  }
}

@media (max-width: 992px) {
  .discount a {
    margin-left: auto;
  }
}

.button {
  font-size: 1.3rem;
  padding: 1rem 2rem;
  color: white;
  background-color: #82b541;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.button:hover {
  background-color: #678f34;
  color: white;
}

.button--shopping {
  text-align: center;
  border: 0px;
  font-size: 1.2rem;
}

.button--shopping:focus {
  outline: none;
  border-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.button--outline:link, .button--outline:visited {
  color: #f2f2f2;
  border: 2px solid #82b541;
  background-color: transparent;
}

.button--outline-dark:link, .button--outline-dark:visited {
  color: #283138;
  border: 2px solid #82b541;
  background-color: transparent;
}

@media (max-width: 767px) {
  #ham {
    display: block !important;
  }
}

.ham {
  width: 40px;
  height: 40px;
  border: none;
  margin-right: 1rem;
  background-color: transparent;
  border: 2px solid #82b541;
  background-color: #82b541;
  position: relative;
  border-radius: 50%;
}

.ham__line {
  display: block;
  width: 25px;
  height: 2px;
  border-radius: 15px;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.8);
  overflow: hidden;
}

.ham__line:nth-child(1) {
  top: 25%;
}

.ham__line:nth-child(2) {
  -webkit-transition-delay: .1s;
          transition-delay: .1s;
  top: 50%;
}

.ham__line:nth-child(3) {
  -webkit-transition-delay: .2s;
          transition-delay: .2s;
  top: 75%;
}

.ham__line:nth-child(4) {
  -webkit-transition-delay: .3s;
          transition-delay: .3s;
  top: 80%;
}

.ham__line::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: white;
  -webkit-transition: all .3s;
  transition: all .3s;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.ham .ham__line:nth-child(2)::before {
  -webkit-transition-delay: .1s;
          transition-delay: .1s;
}

.ham .ham__line:nth-child(3)::before {
  -webkit-transition-delay: .2s;
          transition-delay: .2s;
}

.ham .ham__line:nth-child(4)::before {
  -webkit-transition-delay: .3s;
          transition-delay: .3s;
}

.ham:hover .ham__line::before {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.adContent {
  background-color: #f3f8fe;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.adContent__title {
  text-align: center;
  padding: 2rem 0;
  font-size: 2.3rem;
  background: -webkit-gradient(linear, left top, right bottom, from(#ee0979), to(#ff6a00));
  background: linear-gradient(to right bottom, #ee0979, #ff6a00);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.adContent__ul {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.adContent__li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.adContent__li span {
  display: block;
  font-size: 1.5rem;
  line-height: 2;
  text-align: center;
}

.review__parent {
  background-color: #f3f8fe;
  padding-top: 5rem;
  padding-bottom: 8rem;
}

.review__holder {
  margin-bottom: 5rem;
}

.review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5rem;
  border: 1px solid rgba(125, 125, 125, 0.3);
  border-radius: 5px;
  background-color: #fff;
  -webkit-box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

.review::before {
  content: "";
  display: block;
  position: absolute;
  top: 0px;
  width: 100%;
  height: 3px;
  background-image: radial-gradient(circle farthest-corner at 0.2% 0%, #ee0979 0%, #ff6a00 100.2%);
  border-radius: 3rem;
}

.review__img {
  border-radius: 50%;
  height: 80px;
  margin-top: -40px;
  position: relative;
  z-index: 2;
}

.review__text {
  line-height: 2;
  text-align: center;
  color: #7d7d7d;
  font-size: 1.3rem;
  padding: 1rem 2rem;
}

.review__name {
  font-weight: bold;
  display: block;
  padding: 1rem;
  color: #4a4a4a;
}

.review__job {
  display: block;
  padding: 2rem 1rem;
  color: #7d7d7d;
  background-color: rgba(125, 125, 125, 0.08);
  width: 100%;
  text-align: center;
}

.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding-right: 3rem;
  border: 1px solid rgba(125, 125, 125, 0.2);
}

.item:not(:last-child) {
  border-bottom: 0px;
}

.item__detail span,
.item__detail a {
  font-size: 1.2rem;
}

.item__title {
  font-size: 1.3rem;
}

.item__title::before {
  font-family: 'icomoon';
  font-size: 1.3rem;
  position: absolute;
  right: 1rem;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
  color: rgba(125, 125, 125, 0.8);
  color: #82b541;
}

.summary {
  background-color: white;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 1rem rgba(125, 125, 125, 0.4);
          box-shadow: 0 0 1rem rgba(125, 125, 125, 0.4);
  padding: 2rem 1rem;
}

.summary__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  font-size: 1.5rem;
  color: #4a4a4a;
  margin-bottom: 1rem;
}

.summary__price__amount {
  font-size: 1.6rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: left;
}

.summary__price__note {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.summary__feature li {
  padding: 1rem 0;
  padding-right: 3rem;
  font-size: 1.3rem;
  border-bottom: 1px solid rgba(125, 125, 125, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.summary__feature li:first-child {
  color: #7d7d7d;
  padding-bottom: 1rem;
  font-size: 1.3rem;
  padding-right: 0;
}

.summary__feature li::before {
  font-size: 1.6rem;
  color: #7d7d7d;
  position: absolute;
  right: 1.5rem;
  font-family: 'icomoon';
}

.professor {
  background-color: white;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 1rem rgba(125, 125, 125, 0.4);
          box-shadow: 0 0 1rem rgba(125, 125, 125, 0.4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 1rem;
}

.professor__img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: gray;
  position: relative;
  margin-bottom: 2rem;
}

.professor__img::before {
  content: "";
  display: block;
  position: absolute;
  width: 80px;
  height: 80px;
  background-image: radial-gradient(circle farthest-corner at 0.2% 0%, #ee0979 0%, #ff6a00 100.2%);
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  border-radius: 50%;
}

.professor__img img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: block;
  position: relative;
  z-index: 5;
}

.professor__name {
  font-weight: bold;
  font-size: 1.5rem;
}

.professor__about {
  font-size: 1.3rem;
  line-height: 2;
  padding: 1rem;
  text-align: justify;
}

.signIn {
  background-color: white;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 1rem rgba(125, 125, 125, 0.4);
          box-shadow: 0 0 1rem rgba(125, 125, 125, 0.4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding: 2rem;
}

@media (max-width: 767px) {
  .signIn {
    margin: 0px !important;
  }
}

.signIn::before {
  content: "";
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 5px;
  background-color: rgba(130, 181, 65, 0.2);
  background-image: -webkit-gradient(linear, left top, right top, from(#ee0979), to(#ff6a00));
  background-image: linear-gradient(to right, #ee0979, #ff6a00);
}

.signIn__logo {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background-color: gray;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-bottom: 1rem;
  background-image: url(../img/logo.PNG);
  background-size: cover;
  background-position: -5px 0;
}

@media (max-width: 767px) {
  .signIn__logo {
    display: none;
  }
}

.signIn__title {
  text-align: center;
  padding: 2rem 0 1rem 0;
  font-weight: bold;
  border-top: 1px solid rgba(125, 125, 125, 0.1);
}

.signIn__text {
  font-size: 1.2rem;
  text-align: center;
}

.signIn__link {
  color: #82b541;
}

.signIn__form {
  font-size: 1.4rem;
}

.signIn__label {
  margin-top: 2rem;
}

.signIn__input {
  font-size: 1.3rem;
  padding: 2rem 1rem;
}

.shopping {
  margin-top: 2rem;
  padding: 1rem;
  padding-left: 6rem;
  background-color: white;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 1rem rgba(125, 125, 125, 0.4);
          box-shadow: 0 0 1rem rgba(125, 125, 125, 0.4);
  text-align: center;
}

@media (min-width: 673px) {
  .shopping::before {
    content: "";
    display: block;
    position: absolute;
    right: -50px;
    bottom: -45px;
    width: 100px;
    height: 100px;
    background-color: transparent;
    border: 30px solid rgba(74, 74, 74, 0.3);
    opacity: .2;
    border-radius: 50%;
    z-index: -1;
  }
}

.shopping__table {
  text-align: center;
}

.shopping__discount {
  padding: 2rem;
}

.shopping__title {
  text-align: right;
  font-size: 1.4rem;
  font-weight: bold;
  padding: 1rem;
  padding-bottom: 2rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid rgba(125, 125, 125, 0.1);
}

.text-danger {
  font-size: 1.8rem;
}

.payment {
  margin-top: 4rem;
  margin-right: -4rem;
  padding: 1.5rem;
  background-color: white;
  color: #283138;
  background-color: white;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 1rem rgba(125, 125, 125, 0.4);
          box-shadow: 0 0 1rem rgba(125, 125, 125, 0.4);
}

@media (max-width: 992px) {
  .payment {
    margin-right: 0px;
  }
}

@media (min-width: 673px) {
  .payment::before {
    content: "";
    display: block;
    position: absolute;
    left: -25px;
    top: -25px;
    width: 60px;
    height: 60px;
    background-color: transparent;
    border: 15px solid rgba(74, 74, 74, 0.3);
    opacity: .2;
    border-radius: 50%;
    z-index: -1;
  }
}

.payment__title {
  font-size: 1.4rem;
  padding-bottom: 1.5rem;
  position: relative;
  font-weight: bold;
}

.payment__title::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  width: 50px;
  height: 1px;
  background-color: rgba(125, 125, 125, 0.15);
}

.payment__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.3rem;
  padding: 1rem 0;
  line-height: 2;
}

.payment__item__value {
  margin-right: auto;
}

.payment__btn {
  padding: 2rem 0;
  display: block;
  margin: 1rem 0;
}

.payment__btn:last-child {
  background-color: #fff;
  border: 1px dashed #4a4a4a;
  color: #4a4a4a;
}

.payment__btn:last-child:hover {
  border: 1px solid #4a4a4a;
}

.footer {
  width: 100%;
  background-color: #2a3744;
  background-size: cover;
}

.footer__cols {
  padding: 2rem 0;
}

.footer__item:first-child {
  color: #82b541;
  font-size: 1.4rem;
  font-weight: bold;
  padding-bottom: 1.5rem;
}

.footer__link:link, .footer__link:hover, .footer__link:visited {
  font-size: 1.1rem;
  color: #fff;
  line-height: 2.5;
  font-weight: normal;
}

.footer__text {
  color: #fff;
  font-size: 1.1rem;
  line-height: 2.5rem;
  padding-right: 1.5rem;
  text-align: justify;
}

.social {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  background-color: #82b541;
}

.social__link {
  margin-right: 1rem;
}

.social__link::before {
  font-family: 'icomoon';
  font-size: 2rem;
  color: white;
}

.hmb_holder {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  z-index: 1500;
  top: 0;
  right: 0;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.hmb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2rem;
  width: 250px;
  height: 100vh;
  background-color: white;
  position: fixed;
  z-index: 1500;
  right: 0;
  -webkit-transition: margin .5s;
  transition: margin .5s;
  margin-right: -250px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.hmb__list {
  margin-top: 50px;
}

.hmb__item:not(:last-child) {
  border-bottom: 1px solid rgba(125, 125, 125, 0.1);
}

.hmb__item.more {
  font-size: 1.3rem;
  padding: 1.2rem;
}

.hmb__item.more::before {
  font-family: 'icomoon';
  font-size: 2rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #7d7d7d;
  margin-left: 1rem;
  cursor: pointer;
}

.hmb__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.3rem;
  padding: 1.2rem;
}

.hmb__link::before {
  font-family: 'icomoon';
  font-size: 2rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #7d7d7d;
  margin-left: 1rem;
}

.hmb__link:hover, .hmb__link:hover::before {
  color: #ee0979;
}

.hmb__sub {
  margin: 1.3rem 0;
}

.hmb__sub__item:not(:last-child) {
  border-bottom: 1px solid rgba(125, 125, 125, 0.1);
}

.hmb__sub__item:nth-child(odd) {
  background-color: rgba(125, 125, 125, 0.05);
}

.hmb__sub__link {
  display: block;
  padding: 1.5rem;
  font-size: 1.2rem;
}

.hmb__sub__link:hover {
  color: #ee0979;
}

.hmb .btn {
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding: 1.5rem 0;
}

.close {
  position: absolute;
  right: 20px;
  top: 20px;
  display: inline-block;
  cursor: pointer;
}

.close::before {
  font-family: 'icomoon';
  font-size: 2.5rem;
}

.alert {
  font-size: 1.3rem;
  line-height: 2;
}

.btn {
  font-size: 1.3rem;
}

@media (max-width: 767px) {
  .offset-0 {
    margin-right: 0px !important;
  }
}
/*# sourceMappingURL=main.css.map */