$first-color: #283138;
$second-color: #abff92;
$third-color: #7ed957;
$body-color:#f3f7fa;
$text-color:#7d7d7d;
$header-color:#4a4a4a;
$gradient-color-first: rgba(238, 9, 121, 1);
$gradient-color-second: rgba(255, 106, 0, 1);
$showcase-color:#f3f8fe;
$border-light:1px solid rgba($text-color, 0.1);
$border-dark:1px solid rgba($text-color, 0.3);
$border-radius:5px;
$gradient: radial-gradient( circle farthest-corner at 0.2% 0%, rgba(238, 9, 121, 1) 0%, rgba(255, 106, 0, 1) 100.2%);
$box-shadow: 0 0 1rem rgba($text-color, 0.4);