            .title {
                background-color: white;
                padding: 1.5rem;
                font-size: 2rem;
                box-shadow: $box-shadow;
                border-radius: $border-radius;
                color: $header-color;
                .breadcrumb {
                    font-size: 1.1rem;
                    margin-top: 1rem;
                    background-color: white;
                    padding-right: 0px;
                    &-item {
                        &::before {
                            content: "|";
                            margin: 0 .5rem;
                        }
                        &:first-child::before {
                            content: "";
                        }
                    }
                }
            }
            
            .lb {
                @media (max-width: 991px) {
                    padding-right: 0px;
                    margin-top: 3rem;
                }
                &__movie {
                    // height: 400px;
                    background-color: gray;
                    video {
                        width: 100%;
                    }
                }
                &__detail {
                    background-color: white;
                    box-shadow: $box-shadow;
                    border-radius: $border-radius;
                    min-height: 200px;
                    & .btn__group {
                        // border-bottom: 1px solid rgba($text-color, 0.2);
                        display: block;
                        padding: 1rem 2rem;
                        button {
                            padding: 1rem 2rem;
                            color: black;
                            border: 1px solid rgba($text-color, 0.5);
                            border-radius: 5rem !important;
                            margin-left: 1rem;
                            &:focus {
                                background-color: $unisabz-color;
                                color: white;
                                outline: none;
                                border: none;
                            }
                        }
                    }
                }
                &__course {
                    padding: 1rem 2rem;
                    font-size: 1.3rem;
                    line-height: 2.2;
                    &__title {
                        padding: 1rem 0;
                        border-bottom: 1px solid rgba($text-color, 0.2);
                        margin-top: 1.5rem;
                        font-size: 1.5rem;
                        font-weight: bold;
                    }
                    p {
                        margin-bottom: 0px;
                    }
                    ul {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;
                    }
                    li {
                        flex: 0 1 45%;
                        padding: .5rem 2rem .5rem 0;
                        border-radius: 3rem;
                        margin-bottom: .5rem;
                        position: relative;
                        display: flex;
                        align-items: center;
                        &::before {
                            display: block;
                            position: absolute;
                            right: 0px;
                            color: $unisabz-color;
                            font-family: 'icomoon';
                            font-size: 1.5rem;
                        }
                    }
                    &__btn {
                        padding: 1rem 1.5rem;
                        padding-right: 3rem;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        position: relative;
                        margin-top: 1rem;
                        border: 1px solid rgba($text-color, 0.2);
                        background-color: rgba($text-color, 0.2);
                        &:hover {
                            background-color: rgba($text-color, 0.2);
                        }
                        &::before {
                            font-family: 'icomoon';
                            font-size: 1.3rem;
                            position: absolute;
                            right: 1rem;
                        }
                        &__info {
                            font-size: 1.4rem;
                            &:nth-child(2) {
                                margin-left: auto;
                                margin-right: 1rem;
                                font-size: 1.2rem;
                                font-weight: bold;
                                color: gray;
                                &::before {
                                    content: '('
                                }
                                &::after {
                                    content: ')'
                                }
                            }
                        }
                    }
                }
                & button {
                    font-size: 1.4rem;
                    // border-radius: 0px;
                }
            }
            
            .rb {
                @media (max-width: 991px) {
                    padding-left: 0px;
                }
            }