//discount
.discount {
    background-color: $showcase-color;
    color: #525c65;
    display: flex;
    align-items: center;
    border-radius: $border-radius;
    padding-left: 2rem;
    img {
        height: 170px;
        margin-left: 2rem;
    }
    h2 {
        font-size: 1.5rem;
        padding: 1rem 0;
        a {
            color: var(--primary);
        }
    }
    p {
        font-size: 1.4rem;
        font-weight: bold;
    }
}