.navigation {
    height: 70px;
    background-color: $first-color;
    .container {
        height: 100%;
        padding: 1.5rem 0;
    }
    &__menu {
        width: 100%;
        height: 100%;
        display: flex;
    }
    &__item {
        font-size: 1.4rem;
        display: flex;
        align-items: center;
        margin-left: 1rem;
        padding: 0 1rem;
        border-radius: 7px;
    }
    &__link {
        &:link,
        &:visited {
            color: white;
        }
    }
    & .register {
        background-color: $third-color;
        margin-right: auto;
    }
}