.shopping {
    margin-top: 2rem;
    padding: 1rem;
    padding-left: 6rem;
    @include parent-style;
    @media (min-width: 673px) {
        &::before {
            @include circle(-50px, -45px, 100px, 100px, transparent, 30px, bottom, right, true);
        }
    }
    text-align: center;
    &__table {
        text-align: center;
        font-size: 1.4rem;
        td{
            padding: 1.3rem;
        }
    }
    &__discount {
        padding: 2rem;
    }
    &__title {
        position: relative;
        text-align: right;
        font-size: 1.6rem;
        
        font-weight: bold;
        padding: 2rem 3rem;
        font-weight: bold;
        margin-bottom: 1rem;
        display: flex;
        align-items: center;
        background-color: rgba($unisabz-color , 0.8);
        color: #fff;
        border-radius: $border-radius;
        &::before{
            font-family: 'icomoon';
            padding-left: 1rem;
            font-size: 2rem;
            position: absolute;
            left: 2rem;
            transform: rotate(-10deg) scale(2) ;
            color: #fff;
            opacity: .35;

        }
    }
}

.text-danger {
    font-size: 1.8rem;
}

//payment section
.payment {
    margin-top: 4rem;
    margin-right: -4rem;
    padding: 1.5rem;
    background-color: white;
    color: $first-color;
    @media (max-width: 992px) {
        margin-right: 0px;
    }
    @include parent-style;
    @media (min-width:673px) {
        &::before {
            @include circle(-25px, -25px, 60px, 60px, transparent, 15px, top, left, true);
        }
    }
    &__method{
        font-size: 1.5rem;
        margin-top: 3rem;
        padding-bottom: 1rem;
        color: $text-color;
    }
    &__title {
        font-size: 1.6rem;
        padding: 1.5rem;
        position: relative;
        font-weight: bold;
        display: flex;
        align-items: center;
        background-color: rgba($unisabz-color , 0.8);
        color: #fff;
        border-radius: $border-radius;
        &::before {
            font-family: 'icomoon';
            padding-left: 1rem;
            font-size: 2rem;
            position: absolute;
            left: 2rem;
            transform: rotate(-10deg) scale(2) ;
            color: #fff;
            opacity: .25;
        }
        &::after {
            content: "";
            display: block;
            position: absolute;
            bottom: 0;
            width: 50px;
            height: 1px;
            background-color: rgba($text-color, 0.15);
        }
    }
    // &__summary {}
    // &__list {}
    &__item {
        display: flex;
        font-size: 1.4rem;
        padding: 1rem;
        line-height: 2;
        &:nth-child(even){
            background-color: rgba(0,0,0,0.02);
        }
    }
    &__item__value {
        margin-right: auto;
    }
    &__btn {
        padding: 2rem 0;
        display: block;
        margin: 1rem 0;
        &:last-child {
            background-color: #fff;
            border: 1px dashed $header-color;
            color: $header-color;
            &:hover {
                border: 1px solid $header-color;
            }
        }
    }
}